@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-stop: always;
}

body {
    height: 100dvh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

/* Ocultar scrollbar */
@layer base {

    /* Ocultar barra en Chrome, Safari y Opera */
    ::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    /* Ocultar barra en Firefox */
    html {
        scrollbar-width: none;
        
    }

    /* Ocultar barra en IE y Edge antiguo */
    body {
        -ms-overflow-style: none;
    }
}

section {
    overflow-x: hidden;
    height: 100dvh;
}

.group {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
    backface-visibility: hidden;
    transform: translateZ(0);
}

