<button
    id="btn-scroll-top"
    aria-label="Go to Top"
    class="fixed bottom-6 right-6 md:bottom-8 md:right-8 z-[100] p-3 md:p-4 bg-white/5 light:bg-white/70 border border-white/10 light:border-black/10 backdrop-blur-xl rounded-full text-white light:text-black opacity-0 translate-y-10 pointer-events-none transition-all duration-500 hover:bg-indigo-600 light:hover:bg-indigo-600 hover:text-white hover:border-indigo-400 group shadow-2xl"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 md:w-6 md:h-6 group-hover:-translate-y-1 transition-transform duration-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 15l7-7 7 7"></path>
    </svg>

    <div
        class="absolute inset-0 rounded-full bg-indigo-500/20 blur-xl opacity-0 group-hover:opacity-100 transition-opacity hidden md:block"
    >
    </div>
</button>

<script>
    const btn = document.getElementById("btn-scroll-top");
    const heroSection = document.getElementById("start");

    if (btn && heroSection) {
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (!entry.isIntersecting) {
                        btn.classList.remove(
                            "opacity-0",
                            "translate-y-10",
                            "pointer-events-none",
                        );
                        btn.classList.add(
                            "opacity-100",
                            "translate-y-0",
                            "pointer-events-auto",
                        );
                    } else {
                        btn.classList.add(
                            "opacity-0",
                            "translate-y-10",
                            "pointer-events-none",
                        );
                        btn.classList.remove(
                            "opacity-100",
                            "translate-y-0",
                            "pointer-events-auto",
                        );
                    }
                });
            },
            {
                threshold: 0.2,
            },
        );

        observer.observe(heroSection);


        btn.addEventListener("click", () => {
            const root = document.documentElement;
            root.style.scrollSnapType = "none";

            heroSection.scrollIntoView({ behavior: "smooth"  });
            setTimeout(() => {
                root.style.scrollSnapType = "y mandatory";
            }, 1000);
        });
    }
</script>

<style>
    #btn-scroll-top {
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    }
</style>
