---
import "../styles/global.css";


const googleAnalyticsId = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID;


---

<html lang="en">
  <head>
    <script>
import { getLang } from "../i18n";

      document.documentElement.lang = getLang();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>JonayKB | Full Stack Developer Portfolio</title>
    <meta name="description" content="JonayKB's portfolio showcasing web development projects and skills. Developed with Astro. This contains a collection of my work, including websites, applications, and more." />
    <link rel="canonical" href="https://me.jonaykb.com/" />
    <meta name="author" content="Jonay Contreras Rodriguez (JonayKB)" />
    <meta name="publish_date" content="2026-01-20T00:00:00-0600" />
    <meta name="theme-color" content="#615fff" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="JonayKB Porfolio" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://me.jonaykb.com/" />
    <meta property="og:description" content="Explore my web development projects and skills." />
    <meta property="og:title" content="JonayKB | Full Stack Developer" />
    <meta property="og:image" content="https://me.jonaykb.com/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="JonayKB Portfolio" />


    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://me.jonaykb.com/" />
    <meta property="twitter:image" content="https://me.jonaykb.com/og-image.png" />
    <meta property="twitter:title" content="JonayKB | Full Stack Developer" />
    <meta property="twitter:description" content="Explore my web development projects and skills." />
    <meta name="twitter:image" content="https://me.jonaykb.com/og-image.png" />


    {googleAnalyticsId && (
      <>
        <script async src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}></script>
        <script is:inline define:vars={{ googleAnalyticsId }}>
          window.dataLayer = window.dataLayer || [];
          function gtag(){ dataLayer.push(arguments); }
          window.gtag = gtag;
          gtag('js', new Date());
          gtag('config', googleAnalyticsId);
        </script>
      </>
    )}
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "JonayKB",
    "url": "https://me.jonaykb.com",
    "logo": "https://me.jonaykb.com/logo.png",
    "image": "https://me.jonaykb.com/logo.png",
    "sameAs": [
      "https://github.com/JonayKB",
      "https://linkedin.com/in/jonay-contreras-rodriguez-41164430a",
      "https://instagram.com/JonayKB_"
    ]
  }
</script>
</head>
    <body>
        
        <slot />
    </body>
</html>
